<section class="page page--game" layout="column"   layout-align="start center" layout-fill ng-cloak>

    <h1 class="md-primary" >New Game</h1>

    <span class="flex"></span>

    <md-button class="md-raised "  ng-click="">Single</md-button>
    <md-button class="md-raised " >Multiplayer</md-button>

    <span class="flex"></span>
    <md-button class="md-raised md-accent" ng-click="gm.start()">Play now</md-button>
    <span class="flex"></span>
    <md-button id="filter-btn" aria-label="menu" class="md-fab md-accent" ng-click="gm.showTabDialog($event)">
        <!--   <md-icon md-svg-src="app/assets/svg/ic_more.svg"></md-icon> -->
        <img class="png-icon" src="app/assets/images/filter.png" style="width: 24px; height: 24px;">
    </md-button>


</section>