<section class="page page--game" layout="column" layout-align="center center" ng-cloak ng-if="qc.ready">


    <h1 class="md-primary" >{{ 'NEW_GAME' | translate }}</h1>
    <span class="flex"></span>

    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="determinate" value="{{qc.counter}}" class="md-accent"></md-progress-circular>
    </div>
    <md-card md-theme-watch class="card-question" >
        <md-card-content layout="row" layout-align="space-between">
            <span><b>{{qc.question[0]}}</b></span>
        </md-card-content>
    </md-card>
    <span class="flex"></span>
    <md-card md-theme-watch  ng-repeat="answer in qc.answers" ng-click="qc.evaluateAnswer(answer, $event)" ng-class="answer.correct ? 'correct' : 'incorrect'">
        <md-card-content layout="row" layout-align="space-between">
            <span>{{answer.text[0]}}</span>
        </md-card-content>
    </md-card>
    <span class="flex"></span>
    <md-button class="md-raised " ng-disabled="! qc.showNext" ng-click="qc.hitNext()">{{ 'NEXT' | translate }}</md-button>

    <h1 class="toast toast--correct" ng-if="qc.showNext && qc.correct">{{ 'CORRECT' | translate }}</h1>
    <h1 class="toast toast--incorrect" ng-if="qc.showNext && !qc.correct">{{ 'INCORRECT' | translate }}</h1>
</section>
