<section class="page page--game" layout="column"   layout-align="start center"  ng-cloak>

    <p class="md-primary page--game__heading" >{{ 'NEW_GAME' | translate }}</p>

    <span class="flex"></span>

    <md-button class="md-raised" ng-click="ctrl.selectSingleplayer($event)">
        Single 
        <md-icon ng-if='ctrl.mode == "single"' >done</md-icon>
    </md-button>
    <md-button class="md-raised" ng-class=" {'disabled':  !ctrl.user.friends.length}"ng-click="ctrl.selectMultiplayer($event)" >
        Multiplayer 
        <md-icon ng-if='ctrl.mode == "multi"' >done</md-icon>
    </md-button>

    <span class="flex"></span>
    <md-button class="md-raised md-accent" ng-click="ctrl.start()">{{ 'PLAY_NOW' | translate }}</md-button>
    <span class="flex"></span>
    <md-button id="filter-btn" ng-class="{'filter-on' : ctrl.filters.length > 0}" aria-label="menu" class="md-fab md-fab--filter md-accent" ng-click="ctrl.showTabDialog($event)"></md-button>

</section>
