
<md-dialog aria-label="Choose your topics" class="grid-dialog dialog--game">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'SCORE' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding layout-gt-xs="row" layout="column" layout-align-xs="center center" layout-margin style="max-width:800px;max-height:810px;">

            <md-icon class="dialog--game__icon ng-scope material-icons">watch_later</md-icon>

            <div class="dialog--game__content">
                <h3>{{ 'SCORE' | translate }} </h3>
                <p>
                    <md-icon ng-repeat="n in dialog.stars track by $index" class=" ng-scope material-icons">star</md-icon>
                    <md-icon ng-repeat="n in dialog.empty track by $index" class=" ng-scope material-icons">star_border</md-icon>
                </p>
                {{'GAME_END' | translate }}
            </div>



        </md-dialog-content>

        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="dialog.cancel()" >
                {{ 'CANCEL' | translate }}
            </md-button>
            <md-button ng-click="dialog.save()" style="margin-right:20px;" >
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
