<form name="signupForm" ng-submit="signupForm.$valid && ctrl.updateSettings()" class="page page--settings">

    <h1>{{ 'SETTINGS' | translate }}</h1>
    <div layout-gt-sm="row" >
        <md-input-container class="md-block md-white" flex-gt-sm>
            <label>Email</label>
            <input ng-model="ctrl.user.email">
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block md-primary" flex-gt-sm>
            <label>Password</label>
            <input ng-disable-paste type="password" id="password" name="password" ng-model="ctrl.user.password"
                   minlength="5" maxlength="30" ng-pattern="/^(?=.*?[[a-zA-Z])(?=.*?[0-9])(?=.*?[^\w\s]|.*?[_]).{5,}$/" />
            <div class="hint" ng-show="signupForm.password.$untouched  || signupForm.password.$valid" >{{ 'DONT_KEEP_IT_SIMPLE' | translate }}</div>
            <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    {{ 'YOUR_PASSWORD_MUST_BE' | translate }}
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block md-primary" flex-gt-sm>
            <label>{{ 'CONFIRM_PASSWORD' | translate }}</label>
            <input ng-disable-paste type="password" name="passwordRepeat" ng-model="ctrl.user.passwordRepeat"
                   pw-check="password"  />
            <div class="hint"
                 ng-show="signupForm.passwordRepeat.$untouched || !signupForm.passwordRepeat.$error.pwmatch" >
                {{ 'REPEAT_AND_REMEMBER' | translate }}
            </div>
            <div ng-messages="signupForm.passwordRepeat.$error" ng-if="signupForm.passwordRepeat.$touched" >
                <div ng-message="pwmatch">{{ 'PASSWORDS_MUST_MATCH' | translate }}</div>
            </div>
        </md-input-container>
    </div>

    <div layout-gt-sm="row" >
        <md-radio-group ng-model="ctrl.user.gender">
            <md-radio-button value="M" >{{ 'MALE' | translate }}</md-radio-button>
            <md-radio-button value="F">{{ 'FEMALE' | translate }}</md-radio-button>
        </md-radio-group>
    </div>

    <h1>{{ 'LANGUAGE' | translate }}</h1>
    <div layout-gt-sm="row">
      <md-radio-group ng-model="ctrl.language">
          <md-radio-button value="pt" ng-click="ctrl.changeLanguage('pt')">{{ 'PORTUGUESE' | translate }}</md-radio-button>
          <md-radio-button value="en" ng-click="ctrl.changeLanguage('en')">{{ 'ENGLISH' | translate }}</md-radio-button>
      </md-radio-group>
    </div>
    <md-button class="md-raised " type="submit" id="submit" value="Submit" > {{ 'SAVE' | translate }} </md-button>
</form>
