md-dialog{
    width: 50% !important; //angular material fix

    md-input-container:not(.md-input-invalid){
        margin-bottom: 0;

        label           {  color: white;           }
        .md-input       {  border-color: white;    }

        &.md-input-focused,
        &.md-input-has-value{
            margin: 32px 18px 0px;

            label       {   color: white;           }
            .md-input   {   border-color: white;    }
            md-icon     {   color: white;           }
        }
    }
}

.dialog{
    &--game{

        &__icon{
            font-size: 5em !important;
            line-height: 1em;
            height: 1em;
            width: 80px;
            margin: 20px 0 20px 20px;
            color: $color-orange;
        }

        &__content{
            h2{
                color:$color-orange;
            }
            display: inline-block;
            width: calc(100% - 160px);
            vertical-align: middle;
        }
    }
}

@media (max-width: 599px){
    md-dialog{
        width: 80% !important; //angular material fix

    }

    .dialog{
        &--game{

            &__content{
                width: 100%;
            }
        }
    }
}