md-grid-tile{
    background: $color-white-alpha-4;
    text-align: -webkit-center;

    &:hover,
    &.selected{
        background: $color-white-alpha-7;
         @include box-shadow;
    }
}

.grid-dialog{
    md-content{
        overflow: hidden;
    }
}