md-input-container{
    margin: 18px;
    
    &:not(.md-input-invalid) {
        //md-accent
        &.md-accent{
            label       {   color: white;                       }
            .md-input   {   border-color: $color-white-alpha-7; }
        }
        //md-blend
        &.md-blend{
            .hint       {   color: $color-blend;                }
            label       {   color: $color-black-alpha-7;        }
            input       {   border-color: $color-black-alpha-7; }

            &.md-input-focused,
            &.md-input-has-value{
                label   {   color: $color-blend;                }
                input   {   border-color: $color-blend;         }
            }
        }
    }

    .hint {
        white-space: nowrap;
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        color: $color-white-alpha-4;

        &.ng-hide,
        &.ng-enter,
        &.ng-leave.ng-leave-active {
            bottom: 26px;
            opacity: 0; 
        }

        &.ng-leave,
        &.ng-enter.ng-enter-active {
            bottom: 7px;
            opacity: 1; 
        }
    }
}
