 <div layout="column">
   <md-card>
      <img ng-src="app/assets/images/avatar.jpg" class="md-avatar" alt="" />
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Profile</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        Dismaname
      </md-card-content>
    </md-card>
   <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Score</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        100
      </md-card-content>
    </md-card>
    <md-card>
       <md-card-title>
       <md-card-title-text>
         <span class="md-headline" ng-click="uc.getAll()">Friends</span>
       </md-card-title-text>
     </md-card-title>
     <md-card-content>
       554
     </md-card-content>
   </md-card>



  <h3>Scores</h3>
  <md-content flex layout-padding>
    <div flex-xs flex-gt-xs="50" layout="row">
      <md-card>
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">Score</span>
           </md-card-title-text>
         </md-card-title>
         <md-card-content>
           100
         </md-card-content>
       </md-card>
       <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Score</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            100
          </md-card-content>
        </md-card>
        <md-card>
           <md-card-title>
             <md-card-title-text>
               <span class="md-headline">Score</span>
             </md-card-title-text>
           </md-card-title>
           <md-card-content>
             100
           </md-card-content>
         </md-card>
         <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Score</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              100
            </md-card-content>
          </md-card>
     </div>
   </md-content>

   <h3>Companies</h3>
   <md-content flex layout-padding>
     <div flex-xs flex-gt-xs="50" layout="row">
       <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Score</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            100
          </md-card-content>
        </md-card>
        <md-card>
           <md-card-title>
             <md-card-title-text>
               <span class="md-headline">Score</span>
             </md-card-title-text>
           </md-card-title>
           <md-card-content>
             100
           </md-card-content>
         </md-card>
         <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Score</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              100
            </md-card-content>
          </md-card>
          <md-card>
             <md-card-title>
               <md-card-title-text>
                 <span class="md-headline">Score</span>
               </md-card-title-text>
             </md-card-title>
             <md-card-content>
               100
             </md-card-content>
           </md-card>
      </div>
  </md-content>
</div>
