<div layout="column">
    <div layout="row" layout-fill class="user-info">
        <section layout="column" layout-align="center center">
            <h2> {{uc.score}}</h2>
            <h5 >score</h5>
        </section>
        <section layout="column" layout-align="center center" >
            <h2>{{uc.totalFriends}}</h2>
            <h5 >friends</h5>
        </section>
        <span class="flex"></span>
         <section layout="column" layout-align="center center" >
             <md-icon md-svg-icon="svg-{{uc.user.gender}}" class="avatar md-whiteframe-z2" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ui-sref="index.user"></md-icon>
            <h4 >{{uc.user.name}}</h4>
        </section>

    </div>




    <h3>Scores</h3>
    <md-content flex layout-padding>
        <div flex-xs flex-gt-xs="50" layout="row">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Javascript</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    5
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Word</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    2
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Google</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    1
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Powerpoint</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    1
                </md-card-content>
            </md-card>
        </div>
    </md-content>

    <div class="md-toolbar-tools">
        <h3>Friends</h3>
        <md-button class="menu" aria-label="Add friend" ng-click="uc.showFriendsDialog($event)">
            <md-icon >group_add</md-icon>
        </md-button>
    </div>
    <md-content class="friends-list" flex layout-padding>
        <div flex-xs flex-gt-xs="50" layout="row">
            <div layout="column" layout-align="center center" class="friends-list__item" ng-repeat="friend in uc.friendsList">

                <md-icon md-svg-icon="svg-{{friend.gender}}" class="avatar" ng-class="{'md-whiteframe-z2': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ui-sref="index.user"></md-icon>

                <h3 >{{friend.name}}</h3>
                <h4>{{friend.email}}</h4>
                </md-card>
        </div>
    </md-content>
</div>
