.page{
    &--auth{
        background: $color-landing url("/app/assets/images/clouds.png") center/cover no-repeat;
        height: 100%;

        overflow: hidden;

        form{
            animation: fadeIn 1s  linear ;              
            animation-fill-mode: forwards;
            opacity: 0;

            md-input-container label{
                color: white;
            }
            md-input-container .md-input{
                border-color: $color-white-alpha-7;
            }

            .hint{
                color: $color-white-alpha-4;

            }
        }

    }
}

