.page{
    &--auth{
        background: $color-primary url("/app/assets/images/clouds.png") center/cover no-repeat;
        height: 100%;
        overflow: hidden;
        .header__logo{
            position: absolute;
            top: 5vh;
            font-size: 7vh;
            text-align: center;
            margin: 0 auto;
            cursor: default;
            width: 100%;
            left: 0;

            &:hover{
                background-color: transparent;
            }
        }

        form{
            animation: fadeIn 1s  linear ;              
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }
}

@media (max-width: 599px){
    .page{
        &--auth{
            md-input-container{
                margin: 9px 18px;
            }
        }
    }
}
