.page{
    &--game{
        background: #63a69f url("/app/assets/images/clouds.png") center/cover no-repeat;
        min-height: calc(100% - 5px); //timer height

        &__heading{
            font-family: $font-game;
            text-transform: none;
            font-size: 3em;
            margin: 0;
            color: white;
            letter-spacing: .1em;
            text-shadow: 2px 2px 2px black;
            font-weight: bold;

        }

        .md-fab--filter{
            align-self: flex-end;
        }

        .md-button{

            &.disabled{
                background-color: rgba(0,0,0,0.12) !important;
                color: rgba(0,0,0,0.38);
                cursor: default;
            }

            &:not(.md-fab){
                min-width: 200px;
            }
        }

        md-card{
            width: 100%;

            &.card-question{
                background-color:$color-white-alpha-4;

                md-card-content{
                    text-align: center;
                    margin: auto;
                }
            }

            &:not(.card-question){
                md-card-content{
                    word-break: break-word;
                    padding: 8px;
                }
            }

            &.active{
                &.correct{
                    background-color: $color-green;
                }
                &.incorrect{
                    background-color: $color-coral;
                }

                &.time-up{
                    background-color: $color-black-alpha-2;
                }
            }
        }

        .toast{
            &--correct{
                color: $color-yellow;
                text-shadow: 2px 2px 2px $color-orange-matte;
            }
            &--incorrect{
                color: $color-coral-matte;
            }

            position: fixed;
            top: 40vh;
            transform: rotate(-15deg);
            left: 25vw;
            font-size: 10vw;
            animation-name: toast;
            animation-duration: 1s;
            animation-delay: 0;
            animation-timing-function: cubic-bezier(.18,.65,.27,1.04) ;
            animation-fill-mode: forwards;
        }
    }
}




@keyframes toast{
    0% {
        transform: rotate(-215deg) scale(1);
        opacity: 0;
    }


    100% {
        transform: rotate(-745deg) scale(1.75);
        opacity: 1;
    }
}


@media screen and (min-width: 960px) {
    .page{
        &--game{
            .toast{
                font-size: calc(0.1 * (100vw - 400px));
                left: calc(.25 * (100vw - 400px)); //sidebar width

            }
        }
    }
}
