.page{


    &--game{
        background: #63a69f url("/app/assets/images/clouds.png") center/cover no-repeat;
        padding: 40px;
        min-height: 100%;
        h1{

            font-family: 'Bangers', cursive;
            text-transform: none;
            font-size: 3em;
            margin: 0;
            color: white;
            letter-spacing: .1em;
            text-shadow: 2px 2px 2px black;
        }

        md-fab-speed-dial{

            md-fab-trigger{
                button{
                    margin-left: 0;
                    margin-right: 0;
                }
            }

        }


        #filter-btn{
            align-self: flex-end;
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center 60%;

            background-image: url("/app/assets/images/filter.png");


            &.filter-on{

                background-image: url("/app/assets/images/filter-on.png");



            }

        }

        .md-button.disabled{
            background-color: rgba(0,0,0,0.12) !important;
            color: rgba(0,0,0,0.38);
            cursor: default;
        }


        .md-button:not(.md-fab){
            min-width: 200px;
        }

        md-card{

            width: 100%;

            &:not(.card-question){
                md-card-content{
                    word-break: break-word;
                    padding: 8px;
                }
            }
        }


        .toast{

            &--correct{
                color: #eff24c;
                text-shadow: 2px 2px 2px #f0b354;
            }
            &--incorrect{
                color: #f06554;

            }

            position: fixed;
            top: 40vh;
            transform: rotate(-15deg);
            left: 25vw;
            font-size: 10vw;
            animation-name: toast;
            animation-duration: 2s;
            animation-delay: 0;
            animation-timing-function: cubic-bezier(.18,.65,.27,1.04) ;
            animation-fill-mode: forwards;
        }


    }

}


@keyframes toast{
    0% {
        transform: rotate(-15deg) scale(1);
    }


    100% {
        transform: rotate(-745deg) scale(1.75);
    }
}


@media screen and (min-width: 960px) {
    .page{


        &--game{
            .toast{
                font-size: calc(0.1 * (100vw - 400px));
                left: calc(.25 * (100vw - 400px)); //sidebar width

            }
        }}
}
