.page{
    &--settings{

        > div{
            margin: 18px;
            background-color: rgba(0, 0, 0, 0.05);
            padding: 1em;
        }

        md-radio-group md-radio-button{

            margin: 0 1em;
        }

        button{
            margin: 18px;
        }

        md-input-container{
            margin-left: 0;
        }
    }
}

@media (max-width: 375px){
    .page{
        &--settings{

            > div{
                margin: 18px 0;
            }
        }
    }
}
