.page--user{
    margin-bottom: 2em;


    .list{
        background-color: $color-shadow;

        &__item{

            text-align: center;
            background-color: $color-shadow;

            md-icon{
                margin: 0;
                width: 80px;
                height: 80px;
                min-height: 0;
            }

            span{
                display: flex;
                flex-direction: column;
                font-weight: 700;
            }

            md-card-title{ 

                &.senior{
                    color: $color-green;
                }
                &.junior{
                    color: $color-orange-matte;
                }
                &.intern{
                    color: $color-coral-matte;
                }
            }

            md-card-content{
                color: $color-black-alpha-7;
            }

            &--highlight{
            }

            &--blend{

                background-color: transparent;
                box-shadow: none;

                md-card-content{
                    padding: 0;
                    span{
                        font-weight: 400;
                        &.md-headline{
                            font-weight: 500;
                            font-size: 1.17em;
                            margin-top: .5em;
                            line-height: 1;
                        }
                    }
                }
            }

        }
    }


    .user-info{

        &__detail{
            margin: 0 5vw;
            color: white;

            &__heading{
                text-shadow: 2px 2px 2px $color-black-alpha-2;
                font-size: 3em;
                margin: 0;
                font-weight: bold;
            }
            &__subheading{
                margin: 0;
                color: $color-white-alpha-7;
                font-size: 0.83em;
            }

            md-icon{
                margin: 0;
            }

            &__desc{
                text-align: center;
                margin-bottom: 0;
                font-weight: 600;
            }
        }
    }




    .md-toolbar-tools{
        margin-top: 1em;
        background-color: $color-shadow;
        position: relative;

        h3{
            border-bottom: 1px solid $color-black-alpha-2;
            width: 100%;
            padding: 1em 0.5em;
            margin: 0;
            font-weight: 500;
            color: $color-white-alpha-7;
        }

        .md-button{
            position: absolute;
            right: 2.5em;
            top: .5em;
        }
    }
}