md-content{
    background-color: $color-primary;
}

body{
    overflow: hidden;
}

.page{
    &__wrapper{
        height: 100%;
    }
    padding: 3em;
}


@media (max-width: 375px){
    .page{
        padding: 1.5em;
    }
}

