md-content{
    background-color: rgb(0,188,212);
}


md-input-container.md-white.md-default-theme:not(.md-input-invalid).md-input-focused label, 
md-input-container:not(.md-input-invalid).md-white.md-input-focused label{
    color: white;
}

md-input-container.md-white.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, 
md-input-container:not(.md-input-invalid).md-white.md-input-focused md-icon{
    color: white;
}

md-input-container.md-white.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-white.md-input-focused .md-input, 
md-input-container.md-default-theme:not(.md-input-invalid).md-white.md-input-resized .md-input, 
md-input-container:not(.md-input-invalid).md-white.md-input-resized .md-input {
   border-color: white;
}

body{
    overflow: hidden;
}