md-toolbar{

    border-bottom: 1px dotted white;
    box-shadow: 0px 1px 10px 0px $color-black-alpha-5;

    &:not(.md-menu-toolbar){
        background-color: $color-primary;
    }

    > *{
        cursor: pointer;
    }

    .logo {
        font-size: 1.50em;
        font-weight: 400;
        margin: 0.2em 1.5em;
        font-family: $font-logo;
        color: white;
        text-shadow: 2px 2px 2px gray;
        padding: 0 8px;
        &:hover{
            background-color: $color-white-alpha-1;
        }
    }



    .md-button{
        &:not([disabled]):hover {
            background-color: $color-white-alpha-1;
        }

        span{
            position: absolute;
            bottom: 5px;
            right: 0px;
            line-height: initial;
            background-color: $color-secondary;
            padding: 0 4px;
            font-size: 12px;
        }
    }
}

md-menu-content{
    md-menu-item {
        border-bottom: 1px solid $color-primary-alpha-2;
        color: $color-primary;
    }

    &.container-friends{
        > *{
            border-bottom: 1px solid $color-primary-alpha-2;
            margin: 0;
            padding: .5em 1em;
        }

        .md-button{
            min-width: 36px;
            width: 36px;
            text-align: center;
            padding: 0;
            margin: 0 8px;

            md-icon{
                margin: auto;
            }
        }

        md-menu-item{
            max-width: 300px;
            md-icon{
                width: 24px;
                padding-left: 0;
            }
        }
    }


}

@media (max-width: 375px){
    md-toolbar .logo {
        font-size: 1.2em;
        margin: 0.5em;

    }
}