md-toolbar{

    border-bottom: 2px dotted white;
    box-shadow: 0px 1px 10px 0px gray;

    &:not(.md-menu-toolbar) md-icon {
        color: white;
        fill: white;
    }

    &:not(.md-menu-toolbar){
        background-color: $color-landing;
    }

    > *{
        cursor: pointer;
    }
    
    .logo:hover{
        background-color: rgba(158,158,158,0.2);
        
    }
}