
<md-dialog aria-label="Choose your topics" class="grid-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Choose your topics</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <md-chips ng-model="dialog.selectedItems">
                <md-chip-template>
                    <span>
                        {{$chip.name}}
                    </span>
                </md-chip-template>
            </md-chips>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Company">
                    <md-content class="md-padding">
                        <h3>Pick one or more companies</h3>
                        <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile class="green" ng-repeat="company in dialog.companies track by company._id" ng-click="dialog.addToSelectedItems('company', company)">
                                <h3>{{company.name}}</h3>
                            </md-grid-tile>

                        </md-grid-list>
                    </md-content>
                </md-tab>
                <md-tab label="area">
                    <md-content class="md-padding">
                        <h3 >Pick one or more areas</h3>
                        <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile class="green" ng-repeat="area in dialog.areas track by area._id" ng-click="dialog.addToSelectedItems('area', area)">
                                <h3>{{area.name}}</h3>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab>
                <md-tab label="tech">
                    <md-content class="md-padding">
                        <h3>Pick one or more technologies</h3>

                        <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile class="green" ng-repeat="tech in dialog.technologies track by tech._id" ng-click="dialog.addToSelectedItems('tech', tech)">
                                <h3>{{tech.name}}</h3>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab>
                <md-tab label="general">
                    <md-content class="md-padding">
                        <h3 >Pick one or more areas</h3>
                        <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile class="green" ng-repeat="area in dialog.general track by area._id" ng-click="dialog.addToSelectedItems('general', area)">
                                <h3>{{area.name}}</h3>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="dialog.cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="dialog.save()" style="margin-right:20px;" >
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
