
<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Good!</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="dialog.cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="dialog.save()" style="margin-right:20px;" >
                Save
            </md-button>
        </md-dialog-actions>
      </form>
  </md-dialog>
