<aside layout="row" ng-controller="SidebarController as sc">
    <md-sidenav ng-click="HeaderController.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="news md-whiteframe-z2" >
        <md-list>
            <md-list-item ng-repeat="it in sc.articles" class="md-2-line md-long-text" href="{{it.link}}" target="_blank">
                <img ng-src="{{it.img}}" class="md-avatar"/>
                <div class="md-list-item-text">
                    <h2>{{it.title}}</h2>
                    <p>
                        {{it.body}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-sidenav>
</aside>