<section class="page page--game" layout="column"   layout-align="start center"  ng-cloak>

    <h1 class="md-primary" >{{ 'NEW_GAME' | translate }}</h1>

    <span class="flex"></span>

    <md-button class="md-raised">Single <md-icon >done</md-icon></md-button>
    <md-button class="md-raised disabled" ng-click="ctrl.showAlert($event)" >Multiplayer</md-button>

    <span class="flex"></span>
    <md-button class="md-raised md-accent" ng-click="ctrl.start()">{{ 'PLAY_NOW' | translate }}</md-button>
    <span class="flex"></span>
    <md-button id="filter-btn" ng-class="{'filter-on' : ctrl.filters.length > 0}" aria-label="menu" class="md-fab md-accent" ng-click="ctrl.showTabDialog($event)"></md-button>

</section>
