<section class="page page--game" layout="column"   layout-align="start center"  ng-cloak>

    <h1 class="md-primary" >New Game</h1>

    <span class="flex"></span>

    <md-button class="md-raised "  ng-click="">Single <md-icon >done</md-icon></md-button>
    <md-button class="md-raised disabled"  ng-click="gm.showAlert($event)" >Multiplayer</md-button>

    <span class="flex"></span>
    <md-button class="md-raised md-accent" ng-click="gm.start()">Play now</md-button>
    <span class="flex"></span>
    <md-button id="filter-btn" ng-class="{'filter-on' : gm.filters.length > 0}" aria-label="menu" class="md-fab md-accent" ng-click="gm.showTabDialog($event)">
   
    </md-button>


</section>