<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="determinate" value="{{qc.counter}}" class="md-accent"></md-progress-circular>
    </div>
    <md-card md-theme-watch flex="grow">
        <md-card-content layout="row" layout-align="space-between">
            <span><b>{{qc.question}}</b></span>
        </md-card-content>
    </md-card>
    <md-card md-theme-watch ng-repeat="answer in qc.answers" ng-click="qc.evaluateAnswer(answer, $event)" flex="grow" ng-class="answer.correct ? 'correct' : 'incorrect'">
        <md-card-content layout="row" layout-align="space-between">
            <span>{{answer.text}}</span>
        </md-card-content>
    </md-card>
    <md-button class="md-raised md-primary" ng-show="qc.showNext" ng-click="qc.hitNext()">Next</md-button>
</section>
