// As hex codes */

$color-primary-0: #4AB5AD;	// Main Primary color */
$color-primary-1: #AAEAE5;
$color-primary-2: #74D1CA;
$color-primary-3: #2C9A92;
$color-primary-4: #108E85;

$color-secondary-1-0: #FFCB68;	// Main Secondary color (1) */
$color-secondary-1-1: #FFE7BA;
$color-secondary-1-2: #FFD88D;
$color-secondary-1-3: #FBBD47;
$color-secondary-1-4: #E7A01A;

$color-secondary-2-0: #FC676E;	// Main Secondary color (2) */
$color-secondary-2-1: #FEB9BC;
$color-secondary-2-2: #FD8C92;
$color-secondary-2-3: #F7464F;
$color-secondary-2-4: #E31923;



// As RGBa codes */

$rgba-primary-0: rgba( 74,181,173,1);	// Main Primary color */
$rgba-primary-1: rgba(170,234,229,1);
$rgba-primary-2: rgba(116,209,202,1);
$rgba-primary-3: rgba( 44,154,146,1);
$rgba-primary-4: rgba( 16,142,133,1);

$rgba-secondary-1-0: rgba(255,203,104,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,231,186,1);
$rgba-secondary-1-2: rgba(255,216,141,1);
$rgba-secondary-1-3: rgba(251,189, 71,1);
$rgba-secondary-1-4: rgba(231,160, 26,1);

$rgba-secondary-2-0: rgba(252,103,110,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(254,185,188,1);
$rgba-secondary-2-2: rgba(253,140,146,1);
$rgba-secondary-2-3: rgba(247, 70, 79,1);
$rgba-secondary-2-4: rgba(227, 25, 35,1);



$color-landing: rgba(99, 166, 159, 1);
$color-landing-alpha-2: rgba(99, 166, 159, 0.2);

$color-secondary: rgb(255,171,64);

$color-white-alpha-7: rgba(255, 255, 255, 0.7);
$color-white-alpha-4: rgba(255, 255, 255, 0.4);
