<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Friends</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
          <md-card md-theme-watch flex="grow" ng-repeat="friend in dialog.friendsList">
            <md-card-content layout="row" layout-align="space-between">
              <span><b>{{friend.name}}</b> ({{friend.email}})</span>
            </md-card-content>
          </md-card>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="dialog.close()" style="margin-right:20px;" >
                Close
            </md-button>
        </md-dialog-actions>
      </form>
  </md-dialog>
