<md-dialog aria-label="Search friends">
    <form>
        <md-toolbar>
          <md-input-container class="md-white">
             <md-icon class="material-icons">&#xE8B6;</md-icon>
             <input ng-model="searchInput" placeholder="Search friends">
          </md-input-container>
        </md-toolbar>
        <md-dialog-content>


          <md-list>
            <md-list-item ng-repeat="friend in dialog.friendsList" ng-click="dialog.addFriend(friend, $event)">
                <md-icon md-svg-icon="svg-{{friend.gender}}" class="md-avatar"></md-icon>
                <p> {{ friend.name }} ({{friend.email}})</p>
                <md-icon style="color: black;">add_circle_outline</md-icon>
              </md-list-item>
          </md-list>

        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="dialog.close()" style="margin-right:20px;" >
                {{ 'CLOSE' | translate }}
            </md-button>
        </md-dialog-actions>
      </form>
  </md-dialog>
